aws_account_id          = "{AWS Account ID}"
aws_region              = "{AWS Region}"
thumbprint              = "{SHA1 Fingerprint}"
gh_iac_repo             = "{SHA1 Fingerprint}"repo:{username}/{repo}:ref:refs/heads/{branch}"
gh_app_repo             = "{SHA1 Fingerprint}"repo:{username}/{repo}:ref:refs/heads/{branch}"